<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quizzify | Result</title>
  <link rel="shortcut icon" href="/asset/img/logo2.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/result_style.css" />
</head>

<body>
  <nav>
    <img src="/asset/img/logo2.png" alt="logo" class="logo" height="500" width="500">
    <menu class="navlist">
      <li class="active"><a href="/">Introduction</a></li>
      <li>
        <div class="dropdown">Make a Quiz</div>
      </li>
      <div class="dropdown_content">
        <div>
          <a href="/pdfToQuiz">
            <i class="fa-solid fa-file-pdf"></i>
            <p>Pdf To Quiz</p>
          </a>
        </div>
        <div>
          <a href="/promptToQuiz">
            <i class="fa-solid fa-file-image"></i>
            <p>Prompt To Quiz</p>
          </a>
        </div>
        <div>
          <a href="" class="under_process">
            <i class="fa-solid fa-file-video"></i>
            <p>Video To Quiz</p>
          </a>
        </div>
      </div>
    </menu>
  </nav>
  <section>
    <div class="score_container">
      <h2>OOHOO!</h2>
      <p>You have completed the quiz</p>
    </div>
    <span class="scorecard">
      <div class="outer">
        <div class="inner">
          <h1><span id="score" class="score">
              <%= score %>
            </span>/10</h1>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" versions="1.1" width="160" height="160">
        <defs>
          <linearGradient id="GradientColor">
            <stop offset="0%" stop-color="#DA22FF" />
            <stop offset="100%" stop-color="#9733EE" />
          </linearGradient>
        </defs>
        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
      </svg>
    </span>
    <span id="result"></span>
    <div class="review">
      <a href="/review?id=<%=id%>&r=<%=r%>&no=1">
          <button type="button" class="review_button">Review your Answers</button>
      </a>
    </div>
  </section>
  <section>
    <div class="leaderboard_container">
      <h2><u>LeaderBoard</u></h2>
      <div class="leaderboard">
        <div class="heading">
          <div>Rank</div>
          <div>Name</div>
          <div>Score</div>
        </div>
        <div class="leaderboard_content">
          <% leaderboard.forEach((user, index)=> { %>
            <div class="rank">
              <%= index + 1 %>
            </div>
            <div class="name">
              <%= user.name %>
            </div>
            <div class="score">
              <%= user.score %>
            </div>
            <% }) %>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <p>© 2023 QuizifyPDF</p>
  </footer>
  <script src="../js/result.js"></script>
  <script defer src="https://kit.fontawesome.com/5a8048fc10.js" crossorigin="anonymous"></script>
</body>
</html>