<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizifyPDF | QUiz</title>
    <link rel="shortcut icon" href="/asset/img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/quiz_platform_style.css">
    <link rel="stylesheet" href="/css/review.css">

<body>
        <nav>
            <img src="/asset/img/logo2.png" alt="logo" class="logo" height="500" width="500">
            <menu class="navlist">
              <li><a href="/">Introduction</a></li>
              <li>
                <div class="dropdown">Make a Quiz</div>
              </li>
              <div class="dropdown_content">
                <div>
                  <a href="/pdfToQuiz">
                    <i class="fa-solid fa-file-pdf"></i>
                    <p>Pdf To Quiz</p>
                  </a>
                </div>
                <div>
                  <a href="/promptToQuiz">
                    <i class="fa-solid fa-file-image"></i>
                    <p>Prompt To Quiz</p>
                  </a>
                </div>
                <div>
                  <a href="" class="under_process">
                    <i class="fa-solid fa-file-video"></i>
                    <p>Video To Quiz</p>
                  </a>
                </div>
              </div>
              <li class="active"><a href="">Your Quiz</a></li>
            </menu>
          </nav>
          <header>
    <div class="container" id="container">
        <div class="question_list_container">
            <div class="heading">Question List</div>
            <div class="question_list">
                <% answer.forEach((ans,index)=>{ %>
                    <% if(index == no-1) { %>
                        <a href="">
                        <div data="correct" class="question_list_item"><%= index+1 %></div>
                        </a>
                    <% } else if(ans==4) { %>
                        <a href="/quiz?id=<%= id %>&no=<%= index+1 %>">
                            <div data="wrong" class="question_list_item"><%= index+1 %></div>
                        </a>
                    <% } else{ %>
                        <a href="/quiz?id=<%= id %>&no=<%= index+1 %>">
                            <div data="unanswered" class="question_list_item"><%= index+1 %></div>
                        </a>
                    <% } %>
                <% }) %>
            </div>
            <div class="question_list_details">
                <div class="answered">
                    <div class="answered_color details_color"></div>
                    <div class="details_text"> - Correct</div>
                </div>
                <div class="unanswered">
                    <div class="wrong_color details_color"></div>
                    <div class="details_text"> - Wrong</div>
                </div>
                <div class="active">
                    <div class="unanswered_color details_color"></div>
                    <div class="details_text"> - Not Answered</div>
                </div>
            </div>
        </div>
        <div>
            <form class="questions" method="post" action="result.html">
                <div class="question_container">
                    <div class="question">
                        <div class="heading">Question <%= no  %> </div>
                        <div class="question_text"><%= question %></div>
                    </div>
                    <div class="option_container">
                        <div class="option">
                            <input type="radio" name="answer" id="option_1" value="0" data-set="correct">
                            <label for="option_1" class="option_text"> <%= options[0] %></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="answer" id="option_2" value="1"  checked>
                            <label for="option_2" class="option_text"> <%= options[1] %></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="answer" id="option_3" value="2">
                            <label for="option_3" class="option_text"> <%= options[2] %></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="answer" id="option_4" value="3">
                            <label for="option_4" class="option_text"> <%= options[3] %></label>
                        </div>
                    </div>
                </div>
                <div class="button_container">
                    <% if(no!=10){ %>
                        <button class="button next" type="button" id="prev_button">Next</button>
                    <% } %>
                    <button type="button">Go Back</button>
                </div>
            </form>
                
        </div>
    </div>
</body>

</html>